# .editorconfig -- Config file for EditorConfig. http://editorconfig.org/

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h}]
indent_style = space
indent_size = 4
max_line_length = 80

[include/mailbox/raspberrypi-firmware.h]
indent_style = tab
indent_size = 8
tab_size = 8

[*{CMakeLists.txt,.cmake}]
indent_style = space
indent_size = 4
max_line_length = 80

[*.yml]
indent_style = space
indent_size = 2
